<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo</title>
</head>
<body>
    <h1>Resultado do calculo: </h1>
    <p id="resul">ggggg</p>
    <script src="../server.js"></script>
    
    //deu errado essa bomba de codigo
</body>
</html>