<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>Começo</h1>
    <pre>Calcular a energia de um fóton</pre>
    <form action="/calc">
        <label>Frequência da onda</label>
        <br>
        <input type="number" id="n1" name="n1">
        <br>
        <label>Função trabalho</label>
        <br>
        <input type="number" id="n2" name="n2">
        <button type="submit">Submit</button>
    </form>

    
</body>
</html>