<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    

    <form method="post" action="/temp">
        <fieldset>Formulário</fieldset>
        <div id="data">

            <label for="name">nome:</label><input type="text" name="name">
            <label for="mail">email:</label><input type="email" name="mail">
            <label for="nickname">nickname:</label><input type="text" name="nickname">
            <label for="n1">primeiro numero:</label><input type="number" name="n1">
            <label for="n2">segundo numero:</label><input type="number" name="n2">
            <button type="submit">Submit</button>

        </div>
    </form>

    <form method="post" action="/search">
        <fieldset>Registro</fieldset>
        <div id="search">

            <label for="name">nome:</label><input type="text" name="name">
            <button type="submit">Ir</button>

        </div>
    </form>

</body>
</html>