<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>

    <h1>Começo</h1>
    <pre>oi</pre>

    <form action="/soma">
        <h2>Soma+</h2>
        <label>Nome: </label> <input type="text" name="name">
        <br>
        <label>Um número: </label> <input type="number" name="n1">
        <br>
        <button type="submit">Submit</button>
    </form>
    


    
</body>
</html>